<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card" style="width: 18rem;">
      
        </div>
         <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Usuario:</strong> {{user.name}}</li>
          <li class="list-group-item"> <strong>Membro desde:</strong> {{since}}</li>
          <li class="list-group-item"><strong>Saldo:</strong> {{user.wallet}}</li>
        </ul>
       
        <hr>
        <h2>Minhas compras</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">${{ this.price }}</span>
                                {{ this.item.title }} | Quantidade: {{ this.qty }} 
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>